Source: maratona-background
Section: misc
Priority: optional
Maintainer: Bruno Ribas <bruno.ribas@unb.br>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 3.9.8

Package: maratona-background
Depends: dconf-cli
Architecture: all
Description: Pacote com o background atualizado da Maratona
