#! /usr/bin/make -f

override_dh_auto_install:
	mkdir -p debian/maratona-background/usr/share/maratona-background/
	cp maratona-brasil-first-phase-2017.png debian/maratona-background/usr/share/maratona-background/

%:
	dh $@
